<h1>Edit info for <%=@plant.name%></h1>

<form action = "/plants/<%=@plant.id%>/update" method= "post">
  Name: <input type = "text" name = "name" value = "<%=@plant.name%>">
  <br>Still growing fruit?
    <select name = "fruitbearing">
      <option value = "1">yes</option>
      <option value = "0">no</option>
    </select>
    <br><input type = "submit" >
</form>

<form action = "/plants/<%=@plant.id%>/create_yield" method = "post">
  How much did you pick today?<input type = "text" name = "number" value = "0">
  <input type = "submit">
</form>

<p>Would you like to delete <%=@plant.name %> from your garden? This action can not be undone.</p>

<form action = "/plants/<%=@plant.id%>/delete" method = "post">
  <input type = "submit" value = "Delete">
</form>

<p><a href = "/plants">Back to garden</a></p>