<div class="plant_detail">
  <div id="plant_info">
    <h1><%= @plant.name %></h1>
    <h2>Growing tips</h2>
    <ul><% @plant.tips.each do |tip| %>
        <li><%=tip.info %></li>
      <% end %>
    </ul>
  </div>
  
  <div id="plant_image">
    <img src="/images/kale.png">
  </div>
</div>

<div class="plant_yield">
  <div id="yield_display">
    <p><%=@plant.total %></p>
  </div>
  <div id="add_yield_button">
    <p>BUTTON</p>
  </div>
  <div id="how_much_yield">
    <p>How much have you grown this year?</p>
  </div>
</div>
  
  
  <!-- <form action = "/plants/<%=@plant.id%>/create_yield" method = "post">
    How much did you pick today?<input type = "text" name = "number" value = "0">
    <input type = "submit">
  </form> -->
  <!-- <p>
    Total yield: <%= @plant.total %>
  </p>

  <p><a href = "/plants/<%=@plant.id%>/edit">Edit info</a></p>
  <p>What to do with all of the <%=@plant.name%>!? <a href = "/plants/<%=@plant.id%>/recipes/1"><i>(HINT: find a new recipe!)</i></a></p>
  <p>Growing tips:
    <ul>
      <% @plant.tips.each do |tip| %>
        <li><%= tip.info %></li>
      <% end %>
    </ul>
  </p>
  <p><a href ="/plants/<%=@plant.id%>/new_tip">Add a new tip</a></p>
  <p><a href = "/plants">Back to garden</a></p> -->
</div>